.News {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 5px;
}

input, button {
  width: 100%;
  margin: 6px 0;
  padding: 2px;
  border: 1px solid #ccc;
}

button {
  background: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px;
}

button:hover {
  background: blue;
  cursor: pointer;
}
